 @import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
 body{
     font-family: 'Euclid Circular A', sans-serif;
     overflow-x: hidden;
 }
 a{
    text-decoration: none;
 }
 ul{
    list-style: none;
 }
 :root{
  --bg-blue-color: #9CA3AF;
  --bg-off-white: #FAFAFA;
  --bg-button: #1F2937;
  --white-color: #FFFFFF;
  --logo-color: #374151;
  --light-li-color: #6B7280;
  --accent-color: #DE4F46;
 }
 .darkmode{
  /* --bg-blue-color: #9CA3AF;
  --bg-off-white:#101425 ;
  --bg-button: #FFFFFF;
  --logo-color: #FAFAFA;
  --light-li-color: #e7e9ec;
  --accent-color: #DE4F46; */
  background-color: #070b1d;
  color: var(--white-color);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .container{
   max-width: 100%;
 }
 .navbar{
   background-color: var( --bg-off-white);
   padding: 20px 30px;
  width: 100%;
 }
 .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
 }
 .navbar .logo a{
   font-size: 20px;
   font-weight: 500;
   color: var(--logo-color);
 }
 .navbar .search {
   display: flex;
   align-items: center;
   border-bottom: 1px solid var(--bg-blue-color);
 }
  .navbar .search input{
   border: none;
   outline: none;
   background: none;
  }
  .navbar .search .search-icon{
   color: var(--bg-blue-color);
   margin-right: 12px;
   font-size: 12px;
  }
  .navbar .search input::placeholder{
   color: var(--bg-blue-color);
   font-weight: 400;
   font-family: 'Euclid Circular A', sans-serif;
  }
 .navbar .menu ul {
   display: flex;
   gap: 20px;
   font-weight: 500;
   color: var(--light-li-color);
 }
 .navbar .menu .basket{
   color: var(--bg-button);
   font-weight: 600;
 }
 .navbar .menu .basket i{
   margin-left:5px;
 }
 #theme-switch{
    display: flex;
    align-items: center;
    background-color: #374151;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    padding: 2px 6px ;
    font-size: 16px;
    justify-content: center;
    border-radius: 4px;
    position: fixed;
    top: -1px;
 }
  #theme-switch .fa-sun{
      display: none;
    }
  .darkmode #theme-switch .fa-moon{
      display: none;
    }
  .darkmode #theme-switch .fa-sun{
      display: inline;
    }
 /* media query for first nav */
 @media screen and (max-width:768px) {
  .navbar{
    padding: 20px;
 }
   .navbar .menu ul{
    flex-direction: column;
    align-items: center;
   }
   .navbar .logo a{
   font-size: 15px;
 }
   .navbar .search{
      width: 150px;
    }
 }
 @media screen and (max-width:480px) {
   .navbar-container{
    flex-direction: column;
   }
}
 /* styling second nav */
 .second-nav{
   padding: 14px 50px;
   background-color: var(--white-color);
   border: none;
 }
  .second-nav .nav-links{
   display: flex;
   align-items: center;
   justify-content: space-around;
  }
  .second-nav .nav-links li a{
   color: var(--logo-color);
   font-weight: 600;
   font-size: 14px;
  }
  .second-nav .nav-links .fresh{
   padding: 2.8px 5.6px;
   color: var(--white-color);
   background-color: var(--accent-color);
   border-radius: 2px;
   margin-left: 5px;
   font-size: 13px;
  }
  /* media query for second nav */
  @media screen and (max-width:1082px) {
    .nav-links{
      gap: 10px;  
      flex-wrap: wrap;
    }
    .second-nav .nav-links li a{
      font-size: 12px;
    }
  }
  /* styling hero section */
  section{
   display: flex;
   align-items: center;
  }
  .hero-section{
   background: url(images/pattern.png), #1C2333;
   background-size: cover;
   width: 63.5%;
   height: 82vh;
  }
  .hero-image{
   background: #F7C59F;
   width: 36.5%;
   height: 82vh;
  }
  .hero-section .hero-box{
   margin: 125px 278px 135px 96px;
   padding: 28px;
   background-color: #1F2937;
   width: 50%;
  }
  .hero-section .hero-box .percent{
   color:var( --bg-off-white);
   font-weight: 600;
   font-size: 39px;
}
.hero-section .hero-box .new-arrivals{
   color:#F7C59F;
   font-weight: 600;
   font-size: 39px;
   padding: 12px 0px;
}
.hero-section .hero-box p{
   padding-top: 5px;
   color:#F3F4F6;
   font-size: 12.5px;
   font-weight: 100;
}
.hero-box button{
   margin-top: 39px;
   color: var( --bg-off-white);
   padding: 8px 11px;
   background: none;
   border: 0.8px solid var( --bg-off-white);
   font-size: 11px;
}
.hero-box button span{
   margin-left: 7px;
   font-size: 15px;
}
  .hero-image img{
   height: 480px;
   width: 250px;
   object-fit: cover;
   margin-top: -35%;
   
  }
  .hero-image .circle{
   margin: 28% auto;
   width: 60%;
   height: 60%;
   background-color: var(--white-color);
   border-radius: 50%;
   display: flex;
   justify-content: center;
  }
  /* media query for hero section */
  @media screen and (max-width:678px) {
    .hero-section{
      width: 100%;
      background-image: url(images/hero-image.png);
      background-size: cover;
      height: auto;
    }
    section .hero-image{
      display: none;
    }
    .hero-section .hero-box{
      margin: 60px;
      padding: 28px;
      background-color: var(--bg-button);
      width: 70%;
     }
  }
  /* styling highlights section */
 .highlights-wrapper, .popular{
  text-align: center;
  padding: 35px 15px;
  width: 100%;
 }
 .highlights-wrapper h2, .popular h2, .brands h2{
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: var(--logo-color);
  position: relative;
 }
 .highlights-wrapper h2::after, .popular h2::after{
  content: "";
  display: block;
  width: 5%;
  height: 2.76px;
  background-color: var(--logo-color);
  margin: 0.3rem auto 0;
  border-radius: 70px;
}
.highlights-body{
  padding: 30px 15px;
  height: 100%;
}
.highlights-body-one{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.content-one{
  background-image: url(images/shoes.png);
  height: 330px;
  background-size: cover;
  width: 33%;
}
.content-one h3{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 39px;
  font-weight: 600;
  color: var( --bg-off-white);
  text-shadow: 0 3px 10px rgba(0,0,0,0.7);
  position: relative;
}
.content-two{
  background-image: url(images/clothes.png);
  height: 330px;
   background-size: cover;
   width: 66%;
}
.content-two h3{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 39px;
  font-weight: 600;
  color: var( --bg-off-white);
  text-shadow: 0 3px 10px rgba(0,0,0,0.7);
  position: relative;
}
.highlights-body-two{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.content-three{
  background-image: url(images/arrivals.png);
  height: 330px;
   background-size: cover;
   width: 66%;
}
.content-three h3{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 39px;
  font-weight: 600;
  color: var( --bg-off-white);
  text-shadow: 0 3px 10px rgba(0,0,0,0.7);
  position: relative;
}
.content-four{
  background-image: url(images/items.png);
  height: 330px;
   background-size: cover;
   width: 33%;
}
.content-four h3{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 39px;
  font-weight: 600;
  color: var( --bg-off-white);
  text-shadow: 0 3px 10px rgba(0,0,0,0.7);
  position: relative;
}
.overlay{
  display: block;
  background: var(--logo-color);
  position: absolute;
  margin: 40px 0 0 20px;
  padding: 12px 12px 7px 12px;
  text-align: left;
  opacity: 0.7;
}
.overlay p{
  padding-bottom: 5px;
  font-size: 12px;
  color: var(--bg-off-white);
  text-shadow: 0 3px 10px rgba(0,0,0,0.9);

}
.overlay p:nth-child(2), .overlay p:nth-child(3){
  font-size: 10px;
}
.highlights-body-two .overlay{
  margin-top: 85px;
}
/* media query highlight */
@media screen and (max-width:680px) {
  .highlights-body-one, .highlights-body-two{
    flex-direction: column;
  }
  .content-one, .content-two, .content-three, .content-four{
    width: 100%;
    height: 300px;
  }
  .content-one h3, .content-two h3, .content-three h3, .content-four h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    }
  .overlay{
    margin: 5px 0px -10px 20px;
  }
  .highlights-body-two .overlay{
  margin-top: 55px;
}
}
@media screen and (max-width:938px) {
  .content-four{
    position: relative;
  }
  .content-four .overlay{
    position: absolute;
    bottom: 12px;
}
}

/* popular section */
.photo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 30px 20px;
}
.photo-cart img{
  width: 100%;
  height: 343px;
}
.photo-cart p{
  font-size: 14px;
  color: var(--logo-color);
  text-align: left;
}
.price{
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.price h4{
  font-size: 16px;
  font-weight: 600;
}
.price h4 del{
  color: var(--bg-blue-color);
  font-weight: 400;
  padding-left: 8px;
}
.price button{
  outline: none;
  border: none;
  background: none;
  color: var(--logo-color);
  font-size: 14px;  
  font-weight: 600;
}
/* BRANDS SECTION */
.brands{
  padding: 80px;
  text-align: center;
  margin: 0 auto;
}
.brands h2::after{
   content: "";
  display: block;
  width: 10%;
  height: 2.76px;
  background-color: var(--logo-color);
  margin: 0.3rem auto 0;
  border-radius: 70px;
}
.brand-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.brand-logo img{
  padding: 20px;
  margin-top: 20px;
}
@media screen and (max-width:678px) {
  .brand-logo{
    flex-wrap: wrap;
  }
  
}
/* summer collection */
.summer-collections{
  width: 100%;
  background-image: url(images/summer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin: 10px 50px;
  display: flex;
  align-items: center;
  position: relative;
}
.summer-collections .layout{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  justify-content: center;
  align-items: flex-start;
}
.summer-collections .layout h3{
  font-size: 28px;
  font-weight: 600;
  color: #0D3F64;
}

.summer-collections .layout h3 span{
  color: var(--accent-color);
}
.summer-collections button{
  margin-top: 20px;
  padding: 8px 12px;
  background: white;
  border: none;
  color: var(--accent-color);
  font-size: 12px;
  font-weight: 600;
}
.summer-collections button i{
  margin-left: 7px;
  font-size: 17px;
  height: 1px;
}

.time{
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  color: white;
}
.time div h4{
  font-size: 20px;
  font-weight: 600;
}
.time div p{
  font-size: 10px;
  font-weight: 400;
}
.time .semicolon{
  font-size: 10px;
}
.time p{
  margin-top: 8px;
}

/* footer section */

footer{
  background-color: var( --bg-off-white);
  padding: 45px;
  margin-top: 100px;
  padding: 50px;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.footer-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.company h3{
  font-size: 15px;
  font-weight: 600;
  color: var(--bg-button);
  margin-bottom: 10px;
}
.company ul li{
  padding: 5px 0px;
  font-size: 12px;
  font-weight: 400;
}
.company ul li a{
  color: var(--bg-button);
}
.socials-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.social-icons i{
  background-color: var(--bg-button);
  color: var(--white-color);
  padding: 5px 3px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.sign-up h3{
  font-size: 13px;
  font-weight: 400;
  color: var(--bg-button);
  margin-top: 30px;
  word-spacing: 1.5px;
}
.sign-up .input-box{
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
  height: 35px;
}
.sign-up .input-box input{
  width: 80%;
  padding: 8px 12px;
  border: 1px solid var(--bg-blue-color);
  margin-right: 5px;
  height: 100%;
}
.sign-up .input-box button{
  width: 20%;
  background-color:var(--bg-button) ;
  color: var(--white-color);
  font-size: 12px;  
  font-weight: 500;
  cursor: pointer;
  padding: 10px 12px;
  border: none;
}
.sign-up p{
  font-size: 12px;
  color: var(--light-li-color);
  margin-top: 10px;
}
.sign-up p a{
  color: blue;
  text-decoration: underline;
}
.footer-end{
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.footer-end1 ul li, .footer-end1 p{
  font-size: 12px;
  font-weight: 400;
  color: var(--light-li-color);
}
.footer-end1 p{
  margin-bottom: 15px;
}
.footer-end1 ul{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  width: 60%;
}
.footer-end1 ul li{
  position: relative;
}
.footer-end1 ul li::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--light-li-color);
  opacity: 0.5;
  bottom: -3px;
  left: 0;
}
.footer-end1 h3{
  font-size: 15px;
  font-weight: 500;
  color: var(--bg-button);
  margin-bottom: 20px;
}
.footer-end1 .cards img{
  margin-right: 4px;
  width: 40px;
  height: 25px;
}
/* media query for footer */
@media screen and (max-width: 960px) {
  .footer-info{
  display: flex;
  flex-direction: column;
}
.sign-up .input-box input{
  width: 100%;
  height: 100%;
}
.sign-up .input-box button{
  width: 100%;
}
}
/* Styling Product List */
.product-container{
  max-width: 90vw;
  margin: auto;
  width: 900px;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.product-header .icon-cart{
  position: relative;
  background-color: var(--bg-off-white);
}

.product-header .icon-cart span{
  display: flex;
  width: 25px;
  height: 25px;
  background-color: red;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: -10px;
}
.listProduct .item img{
  width: 90%;
  filter: drop-shadow(0 20px 20px #0009);
}
.listProduct{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.listProduct .item{
  background-color: var(--bg-blue-color);
  border-radius: 10px;
  padding: 10px;
}
.listProduct .item h2{
  font-weight: 500;
  font-size: 1.2rem;
}
.listProduct .item .product-price{
  letter-spacing: 3px;
  font-size: 0.8rem;
  padding-bottom: 7px;
}
.listProduct .item .addCart{
  background-color: var(--bg-button);
  outline: none;
  border: none;
  padding: 5px 8px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
/* Shopping Window */
.cart-tab{
  width: 35%;
  background-color: var(--bg-button);
  color: white;
  position: fixed;
  inset: 0 -35% 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 50px;
}
body.showCart .cart-tab{
  inset: 0 0 0 auto;
}
body.showCart .product-container{
  transform: translateX(-100px);
}
.cart-tab h1{
  font-weight: 300; 
  font-size: 1.6rem;
  padding: 10px;
}
.cart-tab .btn-cart-tab{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart-tab .btn-cart-tab button{
  background-color: var(--bg-blue-color);
  border: none;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}
.cart-tab .btn-cart-tab .close{
  background-color: rgb(235, 74, 74);
  color: white;
 
}
.cart-tab .listCart .item img{
  width: 100%;
}
.cart-tab .listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}
.cart-tab .listCart .item .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: var(--bg-button);
  cursor: pointer;
  border-radius: 50%;
}
.cart-tab .listCart .item .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
}
.cart-tab .listCart .item:nth-child(even){
  background-color: #09263d;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}